@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --qwa-primary: #7B4DFF;
  --qwa-dark: #3B1E91;
  --qwa-light: #F0E7FF;
  --qwa-cyan: #00FFFF;
  --qwa-blue: #4A5DFF;
  --qwa-lilac: #9D5DFF;
}

@theme {
  --font-sans: var(--font-roboto), system-ui, sans-serif;
  --color-qwa-primary: var(--qwa-primary);
  --color-qwa-dark: var(--qwa-dark);
  --color-qwa-light: var(--qwa-light);
  --color-qwa-cyan: var(--qwa-cyan);
  --color-qwa-blue: var(--qwa-blue);
  --color-qwa-lilac: var(--qwa-lilac);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.container-links{
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.espacamento{
  margin-bottom: 25px;
}

.texto-mentoria{
  font-size: 42px;
    text-shadow: 
        0px 0px 10px #F0E7FF,
        0px 2px 5px #8d8d8d,
        0px 4px 6px #c0c0c0,
        0px 6px 7px #e4e4e4;
}

.texto-eco {
    font-size: 42px;
    text-shadow: 
        0px 0px 10px #F0E7FF,
        0px 4px 5px #8559ff,
        0px 10px 6px #9872ff,
        0px 16px 7px #a382ff,
        0px 22px 9px #b69bff,
        0px 28px 10px #dbceff,
        0px 34px 11px #d6c7ff;
}
